
.body {
    font-family: ;
}

.header__nav {
 flex: 1 0 auto;
 margin-left: 28px;
}

.nav_list {
    display: flex;
}

.nav_item {
    margin-left: 40px;
}

.nav_item:first-child {
    margin-left: 0px;
}