//Colors
$yellow:#FFAE2B; 
$cream-color:#ACA592;
$black: #181511;
$brown: #4B4136;
$white: #FFFFFF;

%button {
    padding: 14px 24px;
    background-color: $yellow;
    color: $black;
    display: inline-block;
 }


 .button a {
    @extend %button;
    font-size: 11px;
}

.subscription__button {
    @extend %button;
    font-size: 15px;
    width: 410px;
    height: 50px;
    font-family: 'Old Standard TT';
}
