//Colors
$yellow:#FFAE2B; 
$cream-color: #ACA592;
$black: #181511;
$brown: #4B4136;
$white: #FFFFFF;

 .footer {
    border-top: 1px solid $brown;
    width: 1200px;
    margin: 0 auto;
    text-align: center;

    .footer__inner {
        display: flex;
        align-items: center;
        padding: 20px 0;
        text-transform: uppercase;
        
    }
    .footer__heading {
        color: $cream-color;
    
    }
    .footer__nav {
        flex: 1 0 auto;
        margin-left: 28px;
    }
    
    .footer__list {
        display: flex;
        margin-top: 4px;
        float: right;
    }
    
    .footer__item {
        color: $yellow;
        font-size: 11px;
        position: relative;
        float: left;
        border-right: 1px solid $brown;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .footer__item :last-child {
        border-right: none;
    }
    
    .footer__item:first-child {
        margin-left: 0px;
    }
}