//Colors
$yellow:#FFAE2B; 
$cream-color: #ACA592;
$black: #181511;
$brown: #4B4136;
$white: #FFFFFF;

%flex {
   display: flex;
   align-items: center;
}

@mixin fonts ($family, $style, $weight, $size) {
   font-family: $family;
   font-style: $style;
   font-weight: $weight;
   font-size: $size;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
 }
 
 body {
    font-family: 'Old Standard TT', serif;
    background-color: $black;
    height: 2500px;
 }


 .services__information__holder {
    @extend %flex;
    border-radius: 5px;
    justify-content: center;
 }
 
 
 .services__headlines {
    @extend %flex;
    flex-direction: column;
    padding: 120px 0 30px;
 }
 
 
 .subscription__list {
    @extend %flex;
    justify-content: center;
    margin-top: 50px;
    
 }
 
 
 .subscription__block {
    @extend %flex;
    flex-direction: column;
    justify-content: center;
 }
 
 
 .subscription__block-title {
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 0 100px;
 }