//Colors
$yellow:#FFAE2B; 
$cream-color: #ACA592;
$black: #181511;
$brown: #4B4136;
$white: #FFFFFF;

header {
    background-color: $black;
    .wrapper__header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 300;
    }
    .header__inner {
        display: flex;
        align-items: center;
        padding: 20px 0;
        text-transform: uppercase;
    }

    .header__nav {
    flex: 1 0 auto;
    margin-left: 28px;
   }

    .nav__list {
    display: flex;
    margin-top: 4px;
}

    .nav__item {
    margin-left: 40px;
    color: $cream-color;
    font-size: 11px;
    position: relative;

    &:hover {
        width: 100%;
    }
}

    .nav__item--active {
    color: $yellow;
}

.nav__link 
&:after {
    content: '';
    position: absolute;
    top: 140%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $yellow;
    transition-duration: 200ms;

    &:after {
    width: 100%;
    }
}



.nav__item:first-child {
    margin-left: 0px;
}

.header__button {
    color: $yellow;
    border: 1px solid $yellow;
}

.header__button a {
    padding: 15px 25px;
}
}