%background-image {
    background-size: cover;
    padding-top: 86px;
    background-repeat: no-repeat;
}


.offer {
    background-image: url(../images/offer/cover.jpg);
    height: 100vh;
    @extend %background-image;

    .offer__inner {
        padding: 120px 0 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     
     .offer__title {
        margin-bottom: 35px;
     }
     
     .offer__title .title__main {
     font-size: 70px;
     }
 }