

//Colors
$yellow:#FFAE2B; 
$cream-color: #ACA592;
$black: #181511;
$brown: #4B4136;
$white: #FFFFFF;


%icon {
    height: 23px;
    width: 23px;
    margin-top: 10px;
}

%font {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}


@mixin fonts ($family, $style, $weight, $size) {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}


.subscription__subtitle {
    color: $cream-color;
    line-height: 28px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 15px;
    @extend %font;
}


input {
   background-color: $black;
   border: 1px solid $brown;
   color: $cream-color;
   width: 410px;
   height: 40px;
}

%icon {
    height: 23px;
    width: 23px;
    margin-top: 10px;
}

.icon__Instagram {
@extend %icon;
}

.icon__Twitter {
 @extend %icon;
}

.icon__Facebook {
    height: 20px;
    width: 10px;
    margin-top: 10px;
}

.icon__LinkeDin {
@extend %icon;
}

span {
    color: $yellow;
}

.subscription__note {
    @extend %font;
   line-height: 20px;
   text-align: center;
   color: $cream-color;
   width: 411px;
   height: 40px;
   padding-top: 30px;
}


.subscription__item {
    border: 1px solid $brown;
    height: 48px;
    width: 48px;
    margin-left: 8px;
    text-align: center;
} 

.subscription__list {
    margin-bottom: 30px;
}