//Colors
$yellow:#FFAE2B; 
$cream-color: #ACA592;
$black: #181511;
$brown: #4B4136;
$white: #FFFFFF;

%background-image {
    background-size: cover;
    padding-top: 86px;
    background-repeat: no-repeat;
}

%icon {
    height: 23px;
    width: 23px;
    margin-top: 10px;
}

%flex {
    display: flex;
    align-items: center;
}

@mixin fonts ($family, $style, $weight, $size) {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}


 .title {
    max-width: 869px;
    text-align: center;
}

.title__item {
    color: $yellow;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    line-height: 22px;

    .title__main {
        font-size: 60px;
        color: $white;
        letter-spacing: 1px;
        line-height: 80px;
    }
}

.services__main__title {
    font: {
    size: 60px;
    family: 'Old Standard TT';
    }

    height: 70px;
    line-height: 60px;
    text-align: center;
    color: $yellow;
    margin-top: 25px;
    margin-bottom: 35px;
 } 


 
.subscription__title {
    font: {
        size: 80px;
        family: 'Old Standard TT';
        style: normal;
        weight: 400;
        }
    width: 560px;
    color: $yellow;
    line-height: 70px;
     text-align: center;
 }
 