.button a, .subscription__button {
  padding: 14px 24px;
  background-color: #FFAE2B;
  color: #181511;
  display: inline-block;
}

.button a {
  font-size: 11px;
}

.subscription__button {
  font-size: 15px;
  width: 410px;
  height: 50px;
  font-family: 'Old Standard TT';
}
