header {
  background-color: #181511;
}

header .wrapper__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
}

header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  text-transform: uppercase;
}

header .header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-left: 28px;
}

header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
}

header .nav__item {
  margin-left: 40px;
  color: #ACA592;
  font-size: 11px;
  position: relative;
}

header .nav__item:hover {
  width: 100%;
}

header .nav__item--active {
  color: #FFAE2B;
}

.nav__link
header:after {
  content: '';
  position: absolute;
  top: 140%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #FFAE2B;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.nav__link
header:after:after {
  width: 100%;
}

header .nav__item:first-child {
  margin-left: 0px;
}

header .header__button {
  color: #FFAE2B;
  border: 1px solid #FFAE2B;
}

header .header__button a {
  padding: 15px 25px;
}
