.offer {
  background-size: cover;
  padding-top: 86px;
  background-repeat: no-repeat;
}

.offer {
  background-image: url(../images/offer/cover.jpg);
  height: 100vh;
}

.offer .offer__inner {
  padding: 120px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer .offer__title {
  margin-bottom: 35px;
}

.offer .offer__title .title__main {
  font-size: 70px;
}
