.services__information__holder, .services__headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: 'Old Standard TT', serif;
  background-color: #181511;
}

.services__information__holder {
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__headlines {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 0 30px;
}

.services__subtitle {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-size: 12px;
  color: #ACA592;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.services__information {
  border: 1px solid #4B4136;
  width: 400px;
  height: 350px;
}

.services__profession {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  display: block;
  color: #FFAE2B;
  line-height: 40px;
  margin-bottom: 18px;
  margin-top: 10px;
}

.services__text {
  color: #ACA592;
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 18px;
}

.services__description {
  color: #ACA592;
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.information__element-1 {
  margin-bottom: 10px;
}

.information__element-3 {
  margin-top: 25px;
}

.services__information__inner {
  height: 278px;
  width: 330px;
  padding: 50px 50px 50px;
}
