.icon__Instagram, .icon__Twitter, .icon__LinkeDin {
  height: 23px;
  width: 23px;
  margin-top: 10px;
}

.subscription__subtitle, .subscription__note {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.subscription__subtitle {
  color: #ACA592;
  line-height: 28px;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 15px;
}

input {
  background-color: #181511;
  border: 1px solid #4B4136;
  color: #ACA592;
  width: 410px;
  height: 40px;
}

.icon__Instagram, .icon__Twitter, .icon__LinkeDin {
  height: 23px;
  width: 23px;
  margin-top: 10px;
}

.icon__Facebook {
  height: 20px;
  width: 10px;
  margin-top: 10px;
}

span {
  color: #FFAE2B;
}

.subscription__note {
  line-height: 20px;
  text-align: center;
  color: #ACA592;
  width: 411px;
  height: 40px;
  padding-top: 30px;
}

.subscription__item {
  border: 1px solid #4B4136;
  height: 48px;
  width: 48px;
  margin-left: 8px;
  text-align: center;
}

.subscription__list {
  margin-bottom: 30px;
}
